// global
$color-dark: #2A292D;
$color-light: #F6F7FB;
$color-white: #FFFFFF;
$color-grey: #BDBCBE;
$color-red: #ff0506;
$color-blue: #5acaff;

$font-text: 'Poppins', sans-serif;
$base-size: 12px;
$transition: all 0.5s;

